<div class="page">
	
	<div class="row">
        <div class="col-sm-3">
            <section class="panel panel-default mail-categories">
            	<div class="panel-heading">Colonoscopy Schedule</div>
                <ul class="list-group">
                    <li class="list-group-item active"><a href="javascript:;">
                        <i class="fa fa-inbox"></i>7 days before
                        <span class="badge badge-info pull-right">6</span>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-envelope-o"></i>3 days before
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-star"></i>2 days before
                        <span class="badge badge-danger pull-right">3</span>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-comment-o"></i>1 day
                        <span class="badge badge-success pull-right">9</span>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-pencil"></i>On procedure day
                        <span class="badge badge-warning pull-right">1</span>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-trash-o"></i>After discharge
                    </a></li>
                </ul>
            </section>

            <section class="panel panel-default mail-categories">
                <div class="panel-heading">Information</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="javascript:;">
                        Additional Information <i class="fa fa-circle color-danger pull-right"></i>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        Frequently Asked Questions (FAQ) <i class="fa fa-circle color-info pull-right"></i>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        Other Frequently Asked Questions <i class="fa fa-circle color-info pull-right"></i>
                    </a></li>
                </ul>
            </section>
        </div>
        
        
        <!-- Seven Days -->
        <div class="col-sm-9">
        	<!-- 7 Days before -->
		    <div class="row">
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                    <h3 class="panel-title">Seven (7) days before your procedure</h3>
	                </div>
                </div>
            </div>
            
            <div class="callout callout-danger">
                <h4><b>IMPORTANT:</b></h4>
                <p>For the best results and to prevent the need to cancel or reschedule your colonoscopy:
                <ul>
                  <li>Only follow department instructions given by your gastroenterologist or on this instruction sheet.</li>
                  <li>Do not follow instructions from any other source, including instructions that come with your MoviPrep prescription.</li>
                </ul>
                </p>
            </div>

		    <div class="row">
		        <div class="col-md-6">
		            <div class="panel panel-danger">
		                <div class="panel-heading">
		                    <h3 class="panel-title">STOP:</h3>
		                </div>
		                <div class="panel-body">
							<ol>
		                        <li>Aspirin unless prescribed by a physician</li>
		                        <li>NSAIDs including: Ibuprofen (Motrin, Advil), Naproxen (Aleve, Naprosyn), and similar medications</li>
		                        <li>Iron, fish oil and vitamin E</li>
		                        <li>All seeds, nuts, popcorn</li>
		                        <br />
		                    </ol> 		                
		                 </div>
		            </div>
		        </div>
		        
		        <div class="col-md-6">
		            <div class="panel panel-success">
		                <div class="panel-heading">
		                    <h3 class="panel-title">OKAY/APPROVED:</h3>
		                </div>
		                <div class="panel-body">
							<ol>
		                        <li>Any regular medications (especially blood pressure and/or cardiac medications</li>
		                        <li>Acetaminophen (Tylenol)</li>
		                        <li>Foods such as meat (chicken, pork, beef), fish, tofu, white bread, white rice, noodles, yogurt, fruits and vegetables (remove skin and seeds), pasta, eggs, pancakes, cheese and dairy products</li>		                      
		                    </ol> 		                
		                </div>
		            </div>
		        </div>
		    </div>
		    
            <div class="callout callout-info">
                <h4><b>You will receive additional instructions, guided by your prescribing physician, if you are taking:</b></h4>
                <p>For the best results and to prevent the need to cancel or reschedule your colonoscopy:
                <ul>
                  <li>Blood thinner medications such as Warfarin (Coumadin), Heparin, Lovenox, Plavix, Aggrenox, Ticlid, Pradaxa</li>
                  <li>Diabetes medications.</li>
                </ul>
                </p>
            </div>
        	
            
            
            <!-- Days before procedure-->
		    <div class="row">
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                    <h3 class="panel-title">The day before your procedure</h3>
	                </div>
                </div>
            </div>

            <div class="callout callout-danger">
                <h4><b>IMPORTANT:</b></h4>
                <p>For the best results and to prevent the need to cancel or reschedule your colonoscopy:
                <ul>
                  <li>Eating any solids may result in your procedure being cancelled.</li>
                  <li>Make sure to drink clear liquids throughout the day to keep yourself well-hydrated.</li>
                </ul>
                </p>
            </div>

		    <div class="row">
		        <div class="col-md-6">
		            <div class="panel panel-danger">
		                <div class="panel-heading">
		                    <h3 class="panel-title">STOP (in addition to above):</h3>
		                </div>
		                <div class="panel-body">
							<ol>
		                        <li>Any solid food</li>
		                        <li>Dairy products</li>
		                        <li>Alcohol</li>
		                        <br /><br /><br /><br />
		                    </ol> 		                
		                 </div>
		            </div>
		        </div>
		        
		        <div class="col-md-6">
		            <div class="panel panel-success">
		                <div class="panel-heading">
		                    <h3 class="panel-title">OKAY/APPROVED:</h3>
		                </div>
		                <div class="panel-body">
							<ol>
		                        <li>Any regular medications (especially blood pressure and/or cardiac medications) and acetaminophen (Tylenol)</li>
		                        <li>Water and clear liquids including:
		                        <ul>
		                        	<li><i>Juices</i><b>:</b> apple, white grape, white cranberry, lemonade</li>
		                        	<li><i>Broth</i><b>:</b> chicken, beef or vegetable</li>
		                        	<li><i>Soda</i><b>:</b> 7-Up, Coke</li>
		                        	<li><i>Other</i><b>:</b> black coffee, tea, popsicles, jello, sports drinks</li>
		                        </ul>
		                        </li>		                        
		                    </ol> 		                
		                </div>
		            </div>
		        </div>
		    </div>
        	
            <div class="callout callout-info">
                <h4><b>6 p.m. the day before your procedure:</b> Drink first dose of MoviPrep solution</h4>
                <p>
                <ul>
                  <li>Mix the MoviPrep solution (one pouch A and one pouch B) with water in the provided one liter container.</li>
                  <li>Every 10 to 15 minutes drink 8 oz of the solution (one hour total).</li>
                  <li>Drink an additional 16 to 32 ounces of clear liquids.</li>
                </ul>
                </p>
            </div>
            
            
        </div>
    </div>
</div>