<div class="page page-dashboard" data-ng-controller="DashboardCtrl">
	
	<div class="row">
        <a href="#/restaurants"><div class="col-lg-3 col-xsm-6">
			<section class="panel panel-box">
				<div class="panel-top bg-danger">
					<i class="glyphicon glyphicon-cutlery text-large"></i>
				</div>
				<div class="panel-bottom bg-reverse">
					<p class="size-h4">Restaurants</p>
				</div>
			</section>
		</div></a>
		<div class="col-lg-3 col-xsm-6">
			<section class="panel panel-box">
				<div class="panel-top bg-danger">
					<i class="glyphicon glyphicon-map-marker text-large"></i>
				</div>
				<div class="panel-bottom bg-reverse">
					<p class="size-h4">Places to Visit</p>
				</div>
			</section>
		</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xsm-6">
			<section class="panel panel-box">
				<div class="panel-top bg-danger">
					<i class="glyphicon glyphicon-asterisk text-large"></i>
				</div>
				<div class="panel-bottom bg-reverse">
					<p class="size-h4">Gyms &amp; SPA</p>
				</div>
			</section>
		</div>
		<a href="#/ui/widgets"><div class="col-lg-3 col-xsm-6">
			<section class="panel panel-box">
				<div class="panel-top bg-danger">
					<i class="glyphicon glyphicon-credit-card text-large"></i>
				</div>
				<div class="panel-bottom bg-reverse">
					<p class="size-h4">ATMs &amp; Banks</p>
				</div>
			</section>
		</div></a>
    </div>
    <div class="row">
        <a href="#/fuel"><div class="col-lg-3 col-xsm-6">
			<section class="panel panel-box">
				<div class="panel-top bg-danger">
					<i class="glyphicon glyphicon-tint text-large"></i>
				</div>
				<div class="panel-bottom bg-reverse">
					<p class="size-h4">Petrol Pumps</p>
				</div>
			</section>
		</div></a>
		<a href="#/ui/timeline"><div class="col-lg-3 col-xsm-6">
			<section class="panel panel-box">
				<div class="panel-top bg-danger">
					<i class="glyphicon glyphicon-bullhorn text-large"></i>
				</div>
				<div class="panel-bottom bg-reverse">
					<p class="size-h4">News &amp; Events</p>
				</div>
			</section>
		</div></a>
    </div>
    
    <div class="row">
        <div class="col-lg-3 col-xsm-6">
			<section class="panel panel-box">
				<div class="panel-top bg-danger">
					<i class="glyphicon glyphicon-briefcase text-large"></i>
				</div>
				<div class="panel-bottom bg-reverse">
					<p class="size-h4">Buses</p>
				</div>
			</section>
		</div>
		<a href="#/cabs"><div class="col-lg-3 col-xsm-6">
			<section class="panel panel-box">
				<div class="panel-top bg-danger">
					<i class="glyphicon glyphicon-briefcase text-large"></i>
				</div>
				<div class="panel-bottom bg-reverse">
					<p class="size-h4">Taxis</p>
				</div>
			</section>
		</div></a>
    </div>
</div>
